$primary-color: #F83D8E;  // Pink
$secondary-color: #683292; // Purple
$dark-color: #212529;     // Dark Gray
$black-color: #0F0200;    // Almost Black
$white-color: #FFFFFF;   // white
$light-font: #646464;   // light font 

// background colors
$color1: #EFD7EF;
$color2: #F5F9FC;
$color3: #F8EAE1;
$color4: #EAF8F9;